<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Expertise:</b>
  <%= @user.expertise %>
</p>

<p>
  <%= link_to "View Task Calendar for User", "../calendar/user/#{@user.id}" %>
</p>

<% if current_user.role == 4 %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', "/search" %>
