<% content_for :title, "Budget Management" %>
<% if current_user.present? && current_user.role == 4 && current_user.projects.find_by_id(@project.id) || current_user.present? && current_user.role == 8 %>
<h1>Budget Breakdown By Tasks for <%= @project.name %></h1><br />
Instructions: To change the amount a task costs/the project's budget click on the value next to the name to open a textbox that you can use to modify the value.  Hit the enter key when you are finished to store the value.  The value will revert to the previous value if the cost of all the tasks exceeds the project's budget.
<% @tasks.each do |task| %>
<p>
  <b><%= task.name %>:</b>
  $<%= best_in_place task, :spent %>
</p>
<% end %>
<br />
<b>Total Project Budget:</b> $<%= best_in_place @project, :budget %>
<br /><br /><br /><br />
<%= button_to 'Regenerate Pie Chart', "/budget/#{@project.id}" %>
<div id="chart_div"></div>

<%= content_tag "div", id: "tasks", data: { url: @tasks } do %>
<% end %>
<%= content_tag "div", id: "project", data: {url: @project } do %>
<% end %>
<% else %>
You are not authorized to view this page.
<% end %>